.contact-page {
  display: grid;
  grid-template-columns: 70% 30%;
  grid-template-rows: max-content max-content;
  align-items: normal;
}

.contact-me-header {
  padding-left: 3em;
  align-items: center;
  text-align: center;
}

.contact-me-links {
  grid-row: 2;
  display: flex;
  flex-flow: column;
  padding: 2.5em 1em 1em 1em;

  p {
    margin: 0px;
  }

  .icon {
    width: 1.5em;
    height: 1.5em;
    margin: 0.5em 1em;
  }

  .link {
    display: flex;
    align-items: center;
  }
}
