.contact-page {
  display: grid;
  grid-template-columns: 70% 30%;
  grid-template-rows: max-content max-content;
  align-items: normal;
}

.contact-me-header {
  align-items: center;
  text-align: center;
}

.contact-me-links {
  grid-row: 2;
  display: flex;
  flex-flow: column;
  padding: 2.5em 0em 1em 0em;

  p {
    margin: 0rem;
  }

  .icon {
    width: 1.5em;
    height: 1.5em;
    margin: 0.5em 1em;
  }

  .link {
    display: flex;
    align-items: center;
    white-space: nowrap;
  }
}

@media screen and (max-width: $mobile-breakpoint) {
  .contact-page {
    display: flex;
    flex-flow: column;
    flex-direction: column;
  }

  .contact-me-links {
    align-items: center;
    padding: 0.5em 1em 1em 1em;
    margin-right: 1em;
  }
}
