$width: 50%;

.contact-form {
  grid-row: 2;
  align-items: center;
  display: flex;
  flex-flow: column;

  * {
    width: $width;
    margin: 0.5rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-family: $default-font;
    background-color: $input-color;
    resize: none;
    border: none;
    border-radius: 2rem;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus {
    -webkit-text-fill-color: $color-black;
    box-shadow: 0 0 0 1.875rem $input-color inset;
  }

  textarea:focus,
  input:focus {
    outline: none;
    background-color: $button-color;
  }

  textarea {
    border-radius: 0rem;
    margin: 0;
    width: 90%;
    margin-top: 0.25rem;
    padding: 0rem 0.5rem 0rem 0rem;
    min-height: 8rem;
    max-height: 14rem;
  }

  .textarea-wrapper {
    width: calc(#{$width} + 2rem);
    background-color: $input-color;
    padding: 0.625rem;
    padding-left: 0rem;
    padding-right: 0rem;
  }

  input[type="submit"] {
    width: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: $button-color;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
  }

  input[type="submit"]:hover {
    background-color: $button-hover-color;
  }
}

@media screen and (max-width: $desktop-breakpoint) {
  .contact-form {
    * {
      width: 85%;
    }

    .textarea-wrapper {
      width: calc(85% + 2rem);
    }

    input[type="submit"] {
      padding-left: 2rem;
      padding-right: 2rem;
      background-color: $button-color;
    }
  }
}
