$color: $color-black;
$font-family: Allyca, arial;
$size: 2.8125rem;
$mobile-size: 1.25rem;
$increaseBy: 1.1;

.menubar {
  text-align: center;
  width: 80%;
  display: flex;
  margin-top: 2em;
  margin-bottom: 1em;
  justify-content: center;
  color: $color;
  font-family: $font-family;
  font-size: $size;

  ul li {
    display: inline;
    margin: 0.5em;
  }

  a {
    display: inline-block;
  }

  a:hover {
    transform: scale(#{$increaseBy});
    -ms-transform: scale(#{$increaseBy});
    -webkit-transform: scale (#{$increaseBy});
    -moz-transform: scale(#{$increaseBy});
    -o-transform: scale(#{$increaseBy});
  }
}

@media screen and (max-width: $desktop-breakpoint) {
  .menubar {
    width: 100%;
    margin-top: 0em;
    margin-bottom: 0em;
    font-size: $mobile-size;

    ul {
      padding-inline-start: 0rem;
    }
    ul li {
      margin: 0.5em;
    }
  }
}
