html,
body,
#root {
  min-width: fit-content;
  color: $color-black;
  background-image: radial-gradient(73% 147%, #eadfdf 59%, #ece2df 100%),
    radial-gradient(
      91% 146%,
      rgba(255, 255, 255, 0.5) 47%,
      rgba(0, 0, 0, 0.5) 100%
    );
  background-blend-mode: screen;
  font-family: $default-font;
  font-size: $default-font-size;
  min-height: 100vh !important;
  margin: 0;
}

a,
a:hover,
a:visited {
  color: $color-black;
  text-decoration: none;
}

.content-container {
  width: 80%;
  display: flex;
  align-items: center;
  flex-flow: column;
  flex-direction: column;
  flex-grow: 1;
}

.no-scroll {
  height: 100%;
  overflow-y: hidden;
}

@media screen and (max-width: $tablet-breakpoint) {
  .content-container {
    width: 95%;
  }
}
