@font-face {
  font-family: Allyca;
  src: url("/fonts/Allyca.otf");
}
@font-face {
  font-family: BioRhyme;
  src: url("/fonts/BioRhyme-Light.ttf");
}
@font-face {
  font-family: BioRhyme;
  src: url("/fonts/BioRhyme-Bold.ttf");
  font-weight: bold;
}

$mobile-breakpoint: 45em;
$tablet-breakpoint: 66em;

$default-font-size: 1em;

$color-black: #000;
$input-color: #fff;
$button-color: #fff;
$button-hover-color: #f8f8f8;
$default-font: BioRhyme;
